<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/css/templatemo_style.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>

<!--<p th:text="'Hello, ' + ${book.bookTitle} + '!'">Welcome </p>
<p th:text="'Hello, ' + ${book.isbn} + '!'">Welcome </p>-->


<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container" style="width:980px">
    <div id="templatemo_menu">
        <ul>
            <li><a th:href="@{/books}" class="current">Home</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/contactus}">Contact</a></li>
            <li title="Log Out">
                <form th:action="@{/logout}" method="post">
                    <button type="submit"
                            style="padding: 0 20px; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none; color: #969547; background-color: transparent; border:none">
                        Log Out
                    </button>
                </form>
            </li>
        </ul>
    </div> <!-- end of menu -->

    <div id="templatemo_header">

    </div> <!-- end of header -->

    <div id="templatemo_content">


        <div id="templatemo_content_right" style="margin-right: 7em;">
            <form method="post" action="#" th:action="@{/addbook}" th:object="${book}">
                <div class="input-group">
                    <h4 class="navbar-text" style="color:#cbc750">Add New Book</h4></div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="title">Book Title</span>
                    <input type="text" class="form-control" placeholder="Enter Book Title" required="required" aria-describedby="title" th:field="*{bookTitle}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="author">Author Name</span>
                    <input type="text" class="form-control" placeholder="Enter Author Name" required="required" aria-describedby="author" th:field="*{authorName}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="publisher">Publisher Name</span>
                    <input type="text" class="form-control" placeholder="Enter Publisher Name" required="required" aria-describedby="publisher" th:field="*{publisherName}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="year">Published Year</span>
                    <input type="text" class="form-control" placeholder="Enter Published Year" required="required" aria-describedby="year" th:field="*{publishedYear}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="isbn">ISBN</span>
                    <input type="text" class="form-control" placeholder="Enter ISBN" aria-describedby="middleName" th:field="*{isbn}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="language">Language</span>
                    <input type="text" class="form-control" placeholder="Enter Language" required="required" aria-describedby="language" th:field="*{language}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="quantity">Quantity</span>
                    <input type="number" class="form-control" placeholder="Enter Quantity" required="required" aria-describedby="quantity" th:field="*{quantity}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="price">Price</span>
                    <input type="text" class="form-control" placeholder="Enter Price" required="required" aria-describedby="price" th:field="*{price}"/>
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon" id="image">Image Name</span>
                    <input type="text" class="form-control" placeholder="Enter Image Name" required="required" aria-describedby="image" th:field="*{image}"/>
                </div>
                <br/>
                <button type="submit" style="margin-left:18em" class="btn btn-default navbar-btn">Add</button> &nbsp;
            </form>
            <p style="color:white" th:if="${result != null}"><span th:text="${result}">Hello</span></p>
        </div> <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

    <div id="templatemo_footer">

        <a th:href="@{/books}">Home</a> | <a th:href="@{/profile}">Profile</a> | <a th:href="@{/contactus}">Contact</a><br/>

        Copyright © 2015 <a href="#"><strong>The Challengers</strong></a>
        <!-- Credit: www.templatemo.com -->	</div>
    <!-- end of footer -->
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<!-- templatemo 086 book store -->
<!--
Book Store Template
http://www.templatemo.com/preview/templatemo_086_book_store
-->
</body>
</html>